
# KAGGen Config File

m_width = 15			# map size if not set defaults to console variables: m_width; m_height
m_height = 15

difficulty = 10

borderbuffer = 0

uselessratio = 40 # replaces nonmine tiles with useless tiles at x%